@use './mixins' as defaultMixins;
@use './coloring' as coloringMixins;
@use '../variables' as ARD;

@layer ard-ui {
  // the variables are commented out intentionally
  // read more in docs/dev/css-variables.md
  :root {
    --ard-checkbox-size: 1.25em;
    --ard-checkbox-icon-size: 1.8em;
    --ard-checkbox-hitbox-offset: -4px;
    --ard-checkbox-overlay-offset: 0.4em;
    --ard-checkbox-unselected-disabled-opacity: 40%;
    --ard-checkbox-indeterminate-disabled-opacity: 50%;
    --ard-checkbox-selected-disabled-opacity: 50%;
    --ard-checkbox-alignment: center;
    --ard-checkbox-spacing: 0.375em;
    // --ard-checkbox-base-color: ;
    // --ard-checkbox-readonly-cursor: ;
    --ard-checkbox-label-font-size: 0.875em;
    --ard-checkbox-label-font-weight: 400;
    // --ard-checkbox-label-color: ;
    --ard-checkbox-label-cursor: pointer;
    --ard-checkbox-label-disabled-opacity: 50%;
    --ard-checkbox-label-max-width: 100%;
  }

  ard-checkbox {
    display: flex;
    align-items: var(--ard-checkbox-alignment, center);
    gap: var(--ard-checkbox-spacing, 0.375em);
  }
  .ard-checkbox {
    @include coloringMixins.typeColors();
    @include coloringMixins.typeColors('unsel-cmpcl');
    position: relative;
    cursor: pointer;
    user-select: none;
    width: var(--ard-checkbox-size, 1.25em);
    height: var(--ard-checkbox-size, 1.25em);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    padding: 0;
    outline: none;
    color: var(--ard-checkbox-base-color, #{ARD.$text2});
    font-size: var(--ard-checkbox-icon-size, 1em); // ard-icon component will inherit this font-size to determine its size

    &.ard-color-currentColor.ard-state-selected {
      color: currentColor;
    }

    .ard-hitbox {
      position: absolute;
      left: var(--ard-checkbox-hitbox-offset, -4px);
      right: var(--ard-checkbox-hitbox-offset, -4px);
      bottom: var(--ard-checkbox-hitbox-offset, -4px);
      top: var(--ard-checkbox-hitbox-offset, -4px);
    }
    .ard-focus-overlay {
      @include defaultMixins.focus-overlay(var(--ard-checkbox-overlay-offset, 0.4em));
      border-radius: 9999px;
      background: currentColor;
    }

    &.ard-checkbox-selected {
      color: var(--ard-unsel-cmpcl--bg-colored);
    }
    &:hover,
    &:focus {
      .ard-focus-overlay {
        opacity: 10%;
      }
    }
    &:active {
      .ard-focus-overlay {
        opacity: 20%;
      }
    }
  }
  //! label
  .ard-checkbox__label {
    min-height: var(--ard-checkbox-size, 1.25em);
    max-width: var(--ard-checkbox-label-max-width, 100%);

    .ard-checkbox__label-inner {
      display: inline-block;
      font-size: var(--ard-checkbox-label-font-size, 0.875em);
      font-weight: var(--ard-checkbox-label-font-weight, 400);
      color: var(--ard-checkbox-label-color, #{ARD.$text2});
      cursor: var(--ard-checkbox-label-cursor, pointer);
    }
  }
  //! disabled state
  ard-checkbox.ard-disabled {
    > .ard-checkbox {
      pointer-events: none;
      opacity: var(--ard-checkbox-unselected-disabled-opacity, 40%);

      &.ard-checkbox-selected {
        opacity: var(--ard-checkbox-selected-disabled-opacity, 50%);
      }
      &.ard-checkbox-indeterminate {
        opacity: var(--ard-checkbox-indeterminate-disabled-opacity, 50%);
      }
    }
    .ard-checkbox__label {
      opacity: var(--ard-checkbox-label-disabled-opacity, 50%);
    }
  }
  //! readonly state
  ard-checkbox.ard-readonly {
    > .ard-checkbox {
      cursor: var(--ard-checkbox-readonly-cursor, var(--ard-readonly-cursor, default));

      .ard-focus-overlay {
        display: none;
      }
    }
  }
}
