.list {
  padding-left: 0;

  li {
    padding-left: 1rem;
    list-style-position: inside;
    margin: 0.4rem 0;
  }
}

.container {
  border: 1px solid blue;
}
.flex-item {
  width: 100px;
  height: 100px;
  text-align: center;
}
.vertical-list {
  align-items: unset !important;
}
.dashed {
  --ard-divider-style: dashed;
}

.cover-image {
  background-color: #fefbed;
  padding: 10rem;
  display: flex;

  .container {
    border: none;
    width: 10rem;

    --ard-divider-color: #ada67f;
  }
}
